
body {
    color: black;   
font-family: 'helvetica';
    font-size: 100px;
    margin:0px;
    
}


a {
  color: black;
  text-decoration: underline;
  padding-color: black;
  padding: 20px;s
}

.message {
  margin-bottom: 10px;
}

.quote{
	   text-align: center; 
        padding: 30px;
        background-color: #5882FA;
        color: white;
        font-size: 40px;
        position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
       
   		margin-bottom: 20px;
    	margin-right: 80px;
    	margin-left: 80px;
        
}
 .image{
            
            background-size: contain;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-repeat: no-repeat;
            background-position: center;

}
        