body {
color:black;
}

a {
  color: black;
  text-decoration: underline;
  padding-color: black;
  padding: 20px;
}

.message {
  margin-bottom: 10px;
}

.quote1{
	color: white;
  padding-color: black;
  padding: 20px;
}